{% extends "model_page.html" %}
{% block title %}
<title>Conta bancária</title>
{% endblock %}

<body>
  {% block content %}
  <div class="container-teste d-flex justify-content-center flex-column p-4">
    <style>
      .title {
        color: white;
      }
      .td{
        text-align: center;
      }
    </style>
    <h1 class="title text-center p-2">Minha contas bancárias</h1>
    <div class="container-md d-flex justify-content-end m-3">
      <a class="btn btn-outline-success" href="{% url 'add_conta_bancaria' %}" role="button">Nova conta</a>
    </div>

    <table class="teste">
      <thead>
        <tr>
          <th scope="col">Banco</th>
          <th scope="col">Saldo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {%for bank in banks %}
        <tr>
          {% for bankApi in banksApi %}
          {% if bank.codigo_banco == bankApi.code%}
          <td class="acao">{{bankApi.fullName}}</td>
          {% endif %}
          {% endfor %}
          <td class="acao">{{bank.saldo}}</td>
          <td class="acao">
            <div class="dropdown">
              <button class="sobrepor btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Ações
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="">Editar</a></li>
                <li><a role="button" class="dropdown-item" href=""
                    onclick="return confirm('Deseja realmente apagar a conta?')">Excluir</a></li>
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    {% endblock %}
</body>