{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <title>Home</title>
</head>

<body>

  <header>
    <nav class="nav-bar">
      <div class="logo">
        <h1>Eccofinanças</h1>
      </div>
      <div class="nav-list">
        <ul>
          <li class="nav-item"><a href="#" class="nav-link">Início</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Projetos</a></li>
          <li class="nav-item"><a href="#" class="nav-link"> Sobre</a></li>
        </ul>
      </div>
      <div class="logout-button">
        <button><a href="#">Sair</a></button>
      </div>
      <div class="mobile-menu-icon">
        <button onclick="menuShow()"><img class="icon" src="{% static 'img/menu_white_36dp.svg' %}" alt=""></button>
      </div>
    </nav>
    <div class="mobile-menu">
      <ul>
        <li class="nav-item"><a href="#" class="nav-link">Início</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Projetos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
      </ul>
      <div class="logout-button">
        <button><a href="#">Sair</a></button>
      </div>
    </div>
  </header>

  <main>
    <section class="container-custom">
      <div class="container-table">
        <div class="title-table">
          <h2>Minhas contas</h2>
        </div>
        <div class="header-table">
          <label for="filter-table">Filtre:</label>
          <input type="text" name="filter" id="filter-table" placeholder="Digite a descrição da sua conta">
          <button class="btn-new-account" onclick="openModal()" id="btn-new-account">Nova conta</i></button>
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Parcelas pagas</th>
                <th>Parcelas pendentes</th>
                <th>Valor unitário</th>
                <th>Data de vencimento</th>
                <th>Valor total</th>
                <th class="acao">Status</th>
                <th class="acao">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Celular</td>
                <td>Ñ recorrente</td>
                <td>2</td>
                <td>8</td>
                <td>100</td>
                <td>10/10/2023</td>
                <td>1000</td>
                <td class="acao">Pendente</td>
                <td class="acao">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Ações
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Pagar</a></li>
                      <li><a class="dropdown-item" href="#">Editar</a></li>
                      <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <script src="{% static 'js/home.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    function menuShow() {
      let menuMobile = document.querySelector('.mobile-menu');
      if (menuMobile.classList.contains('open')) {
        menuMobile.classList.remove('open');
        document.querySelector('.icon').src = "{% static 'img/menu_white_36dp.svg' %}";
      } else {
        menuMobile.classList.add('open');
        document.querySelector('.icon').src = "{% static 'img/close_white_36dp.svg' %}";
      }
    }
  </script>
</body>
</html>