{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Home</title>
</head>

<body>
  <header>
    <nav class="nav-bar-custom">
      <div class="logo">
        <h1>Eccofinanças</h1>
        <div class="nav-list-custom">
          <ul>
            <li class="nav-item-custom"><a href="{% url 'home' %}" class="nav-link-custom">Início</a></li>
            <li class="nav-item-custom"><a href="{% url 'conta_bancaria' %}" class="nav-link-custom">Contas bancárias</a></li>
            <li class="nav-item-custom"><a href="{% url 'minha_conta' %}" class="nav-link-custom">Minha conta</a></li>
          </ul>
        </div>
      </div>
      <p class="nav-item-custom nav-link-custom">Saldo: {{user.carteira}}</p>
      <div class="logout-button">
        <button><a href="#">Sair</a></button>
      </div>
      <div class="mobile-menu-icon">
        <button onclick="menuShow()"><img class="icon" src="{% static 'img/menu_white_36dp.svg' %}" alt=""></button>
      </div>
    </nav>
    <div class="mobile-menu">
      <ul>
        <li class="nav-item-custom"><a href="#" class="nav-link-custom">Início</a></li>
        <li class="nav-item-custom"><a href="#" class="nav-link-custom">Contas bancárias</a></li>
        <li class="nav-item-custom"><a href="#" class="nav-link-custom">Sobre</a></li>
      </ul>
      <div class="logout-button">
        <button><a href="#">Sair</a></button>
      </div>
    </div>
  </header>
  <main>
    <section class="container-custom">
      <div class="container-table">
        <div class="title-table">
          <h2>Minhas contas</h2>
        </div>
        <div class="header-table">
          <label for="filter-table">Filtre:</label>
          <input type="text" name="filter" id="filter-table" placeholder="Pesquise">
          <a class="btn btn-outline-success" href="{% url 'nova_conta' %}" role="button">Nova conta</a>
        </div>
        <div class="table-custom">
          <table>
            <thead>
              <tr>
                <th class="acao">Descrição</th>
                <th class="acao">Categoria</th>
                <th class="acao">Numero de parcelas</th>
                <th class="acao">Parcelas pagas</th>
                <th class="acao">Valor total</th>
                <th class="acao">Data de vencimento</th>
                <th class="acao">Status</th>
                <th class="acao">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for conta in contas %}
              <tr>
                {% if conta.categoria_id_id == 1 %}
                <td class="acao">{{conta.descricao}}</td>
                {% else %}
                <td class="acao"><a href="{% url 'nova_conta' %}">{{conta.descricao}}</a></td>
                {% endif %}
            
                {% for categoria in categorias %}
                {% if categoria.id == conta.categoria_id_id %}
                <td class="acao">{{categoria.descricao}}</td>
                {% endif %}
                {% endfor %}

                <td class="acao">{{conta.numero_parcelas}}</td>
                <td class="acao">{{conta.parcelas_pagas}}</td>
                <td class="acao">{{conta.valor_total}}</td>
                <td class="acao">{{conta.data_vencimento_inicial}}</td>

                {% if conta.status == True %}
                <td class="acao">Finalizado</td>
                {% else %}
                <td class="acao">Pendente</td>
                {% endif %}

                <td class="acao">
                  <div class="dropdown">
                    <button class="sobrepor btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Ações
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">

                      {% if conta.categoria_id_id == 1 %}
                      <li><a class="dropdown-item" href="#">Pagar</a></li>
                      {% endif %}
                
                      <li><a class="dropdown-item" href="conta/editar_conta/{{conta.id}}">Editar</a></li>
                      <li><a role="button" class="dropdown-item" href="{% url 'apagar_conta' conta.id %}" onclick="return confirm('Deseja realmente apagar a conta {{conta.descricao}}?')">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <script src="{% static 'js/home.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    function menuShow() {
      let menuMobile = document.querySelector('.mobile-menu');
      if (menuMobile.classList.contains('open')) {
        menuMobile.classList.remove('open');
        document.querySelector('.icon').src = "{% static 'img/menu_white_36dp.svg' %}";
      } else {
        menuMobile.classList.add('open');
        document.querySelector('.icon').src = "{% static 'img/close_white_36dp.svg' %}";
      }
    }
  </script>
</body>
</html>