{% extends "model_page.html" %}
{% block title %}
<title>Conta bancária</title>
{% endblock %}

<body>
    {% block content %}
    
    <style>
        .container-custom {
            margin: auto auto;
            width: 30%;
            margin-top: 5%;
            background-color: #000000;
            border-radius: 10px;
        }
        .title{
            color: white;
        }
    </style>

    <main>
        <form action="">
            <div class="container-custom d-flex justify-content-center flex-column p-4">
                <p class="title fs-1 text-center">Minha conta</p>

                <div class="mb-3 m-4">
                    <label for="exampleFormControlInput1" class="title form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

                <div class="mb-3 m-4">
                    <label for="exampleFormControlInput1" class="title form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

                <div class="mb-3 m-4">
                    <label for="exampleFormControlInput1" class="title form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

                <div class="mb-3 m-4">
                    <label for="exampleFormControlInput1" class="title form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
    
                <div class="d-flex justify-content-between m-4">
                    <button type="button" class="btn btn-success">Criar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </main>
    {% endblock %}
</body>