{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/solicitar_email.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Solicitar e-mail</title>
</head>

<body>
    <div class="status-messages text-center mt-3">
        {% if status == '0' %}
        <div class="alert alert-success d-inline-block" role="alert">
            Foi enviado um e-mail para redefinição de senha!
        </div>
        {% endif %}
    </div>
    <div class="container">
        <div id="main-container">
            <h1>Solicitar redefinição de senha</h1>
            <form method="post">
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Digite seu e-mail" autocomplete="off">
                {% for message in messages %}
                <div class="error-validation">
                    <strong></strong>{{ message }}
                </div>
                {% endfor %}
                <input type="submit" value="Enviar email">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>